 
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100wh;
            margin: 0;
            padding: 0;
            background-image: url("img/watch.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            overflow-x: hidden;
           
        }
        #clockbox{
            margin-left: -16vh;
            margin-top: -14vh;
            height: 120vh;
            width: 351vh;
            border-radius: 3px; 
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: black; */
            color: white;
            font-size:  4rem;
            font-weight: 700;
            /* border: 8px rgb(231, 231, 231) solid; */
            /* border-radius: 25px; */
            object-fit: contain;
        }

        h1{
            margin-left: 55px;
        }
    